<div class="col-md-4 offset-md-1 my-5 py-5">
  <div class="card border-success mb-5" style="max-width: 50rem;">
    <div class="card-body">
      <form>
        <div class="form-group mb-3">
          <h1 class="col-form-label" >Nombre del juego</h1>
          <input type="text" class="form-control" placeholder="Nombre del juego" [(ngModel)]="game.title" name="nombre" autofocus>
        </div>
        <div class="form-group mb-3">
          <h1 class="col-form-label">Descripción del juego</h1>
          <textarea type="text" class="form-control" placeholder="Descripcion" rows="10" [(ngModel)]="game.description" name="descripcion" autofocus></textarea>
        </div>
        <div class="form-group mb-3">
          <h1 class="col-form-label">Caratula del juego</h1>
          <input type="url" class="form-control" placeholder="URL" [(ngModel)]="game.image" name="imagen">
        </div>
        <div class="d-grid gap-2 col-12 mx-auto">
          <button class="btn btn-success" type="button" (click)="edit ? updateGame() : saveNewGame()">
            Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="col-md-4 offset-md-1 my-5 py-5">
  <div class="card border-success mb-5 text-center" style="max-width: 50rem">
    <img [src]="game.image == '' ? '/assets/no-image.png' : game.image">
    <h3>{{game.id}}. {{game.title == '' ? 'Titulo del juego' : game.title}}</h3>
    <p>{{game.description == '' ? 'Descripcion del juego' : game.description}}</p>
    <p>{{game.created_at | date}}</p>
  </div>
</div>


